# Configurações do Flask
FLASK_ENV=development
SECRET_KEY=sua-chave-secreta-aqui

# Configurações do EmailJS
EMAILJS_SERVICE_ID=seu-service-id
EMAILJS_TEMPLATE_ID=seu-template-id
EMAILJS_PUBLIC_KEY=sua-public-key
EMAILJS_USER_ID=seu-user-id

# Configurações do Banco de Dados
DATABASE_URL=sqlite:///chamados.db

# Configurações de Segurança
ENCRYPTION_KEY=sua-chave-de-encriptacao  # Chave para o CryptoManager
SESSION_LIFETIME=30  # Tempo de vida da sessão em minutos
